<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1">
<!--
	<listeners>
		<listener class-name="com.inetBanking.utilities.Reporting" />
	</listeners>
-->
	<test name="Login Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- 
			 <class name="com.testCases.TC_RegisterTest" />
			 -->
			<class name="com.testCases.TC_LoginTest" />
		</classes>
	</test> <!-- Test -->

</suite>